@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Ubuntu Mono", monospace;
}

body {
	position: relative;
	background-color: #222631;
}

h1 {
	text-align: center;
	margin-top: 20px;
	color: aliceblue;
}
form {
	top: 150%;
	right: 30%;
	left: 30%;
	border-radius: 8px;
	color: #000;
}

.items {
	position: absolute;
	top: 8.2rem;
	right: 30%;
	left: 30%;
	border-radius: 8px;
}
.item-content {
	background: linear-gradient(-157deg, #3b414e 0%, #303847 64%);
	border-bottom: 1px solid rgb(72, 77, 82);
	color: #fff;
	font-size: 1.1rem;
	text-transform: capitalize;
	letter-spacing: 1.4px;
	font-family: "Roboto Mono", monospace;
}
.form-group {
	margin-bottom: 0;
}

#todo {
	display: flex;
	position: absolute;
	padding: 2rem;
	margin: 0.5rem 0;
	left: 25%;
	width: 50%;
}

@media screen and (max-width: 1250px) {
	h1 {
		font-size: 1.4rem;
	}
	#todo {
		padding: 2rem;
		margin: 0.5rem 0;
		left: 8%;
		width: 85%;
	}
	#todo-txt {
		font-size: 1.3rem;
	}
	.items {
		position: absolute;
		top: 5.2rem;
		border-radius: 8px;
		padding: 2rem;
		margin: 0.5rem 0;
		left: 14%;
		width: 75%;
	}
}
@media screen and (max-width: 550px) {
	h1 {
		font-size: 1.4rem;
	}
	#todo {
		padding: 2rem;
		margin: 0.5rem 0;
		left: 0%;
		width: 100%;
	}
	#todo-txt {
		font-size: 1.3rem;
	}
	.items {
		position: absolute;
		top: 5.2rem;
		border-radius: 8px;
		padding: 2rem;
		margin: 0.5rem 0;
		left: 11%;
		width: 75%;
	}
}
@media screen and (max-width: 380px) {
	h1 {
		font-size: 1.3rem;
	}
	#todo {
		padding: 1rem;
		margin: 0.3rem 0;
		left: 0%;
		width: 100%;
	}
	#todo-txt {
		font-size: 1.1rem;
	}
	.items {
		position: absolute;
		top: 4.2rem;
		border-radius: 8px;
		padding: 1.8rem;
		margin: 0.5rem 0;
		left: 5%;
		width: 90%;
	}
}
@media screen and (max-width: 320px) {
	h1 {
		font-size: 1.3rem;
	}
	#todo {
		padding: 1rem;
		margin: 0.3rem 0;
		left: 0%;
		width: 100%;
	}
	#todo-txt {
		font-size: 1.1rem;
	}
	.items {
		position: absolute;
		top: 4.2rem;
		border-radius: 8px;
		padding: 1.7rem;
		margin: 0.5rem 0;
		left: 4%;
		width: 95%;
	}
}
